body, h1, h2, p {
    margin: 0;
    font-family: Smythe, serif;
    font-weight: 400;
}

body{
    background-color: #F5F5F5;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    background-color: white;
    padding-bottom: 25px;
}

/* Typography */

h1 {
    font-size: 39px;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 16px;
}

h2 {
    font-size: 28px;
    color: #000000;
    line-height: 17px;
}

h3 {
    font-size: 24px;
    font-family: Verdana, sans-serif;
    line-height: 31px;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #8B8B8B;
}

.header p {
    font-size: 23px;
    line-height: 14px;
    color: #ffffff;
}

.header {
    background-image: url('images/bg-img.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 46px;
}

.menu-items {
    display: flex;
    flex-direction: column;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 31px;
    margin: 45px 46px 0;
    padding-bottom: 51px;
    border-bottom: 1px solid #D2D2D2;
}

.menu-item-icon {
    font-size: 79px;
}

.menu-item-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.item-price {
    font-size: 20px;
    color: #000000;
}

.add-button {
    border: 1px solid #DEDEDE;
    background-color: transparent;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 32px;
    line-height: 1;
    color: #3C3C3C;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.add-button:active,
.add-button:hover {
    background-color: #3C3C3C;
    color: #ffffff;
    transition: 0.3s ease;
}

.order-info {
    margin: 45px 46px 0;
    display: none;
}

.order-info-heading {
    text-align: center;
    margin-bottom: 42px;
}

.order-item {
    display: flex;
    align-items: center;
    margin-top: 22px;
    gap: 5px;
}

.remove-btn {
    border: none;
    background-color: transparent;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #BBBBBB;
    cursor: pointer;
}

.order-item .item-price {
   margin-left: auto;
}

.total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
    margin-top: 28px;
    border-top: 2px solid #393333;
}

.action-btn {
    border: none;
    height: 60px;
    background-color: #16DB99;
    color: #3C3C3C;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 18px 0;
    margin: 53px 0;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease;
}

.action-btn:active,
.action-btn:hover {
    background-color: #3C3C3C;
    color: #16DB99;
    transition: 0.3s ease;
}

.pop-up-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),  /* сверху чуть темнее */
    rgba(0, 0, 0, 0.1)   /* снизу чуть светлее */
  );
  display: none;  /* Скрыто по умолчанию, чтобы включить — поменяй на flex */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.pop-up {
    font-family: Verdana, sans-serif;
    width: 524px;
    display: flex;
    flex-direction: column;
    gap: 46px;
    position: relative;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 47px 24px 30px;
    text-align: center;
}

.pop-up-close-btn {
    border: none;
    background-color: transparent;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    align-self: flex-start;
    position: absolute;
    top: 12px;
    right: 24px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.payment-form input {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    line-height: 31px;
    padding: 20px 30px 20px;
}

.payment-form .action-btn {
    margin: 46px 0 0;
}

.success-info {
    padding: 50px 60px;
    text-align: center;
    background-color: #ECFDF5;
    margin: 45px 46px 25px;
    display: none;
}

.success-info p {
    font-size: 32px;
    color: #065F46;
}

/* main {
    padding-bottom: 25px;
} */